<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- for css -->
    <link rel="stylesheet" href="/assets/global.css">

    <!-- for bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

    <!-- js for user input handling/processing -->
    <script src="/assets/lib/escapeHTML.js"></script>

    %%SCRIPT_PLACEHOLDER%%
    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
    <nav class="navStyle">
        <a href="/">
            <img class="logo-image" src="/assets/logo.png" alt="logo">
        </a>
        <a class="navText" href = "/contact">Contact</a>
        <a class="navText" href = "/cv">CV</a>    
        <a class="navText" href = "/projects">Projects</a>    
        %%DYNAMIC_ITEMS_PLACEHOLDER%%
    </nav>
    <main>
        <div class="container">
